<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard de Rangos y Medallas</title>
    <link rel="stylesheet" href="/css/style2.css">
    <script src="/scripts/leaderboard.js"></script>
</head>
<body>
    
    <h1>Leaderboard de Rangos y Medallas</h1>
    <table id="leaderboard-table">
        <!-- <thead>
             <tr>
                 <th>Rank</th>
                 <th>Username</th>
                 <th>Score</th>
                 <th>Badge</th>
                 <th>Range</th>
             </tr>
         </thead>-->
         <tbody>
             <!-- Aquí se llenarán las filas con JavaScript -->
        </tbody>
    </table>

    
</body>
</html>
