body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F0F0F0;
    height: 100vh;
    margin: 0;
}

a {
    color: #00B7FF;
}

h1, h2, h3, p {
    text-align: justify;
}

.skill-container {
    text-align: justify;
}

.hexagon-container {
    position: relative;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    margin-bottom: 20px;
}


.hexagon {
    width: 120px;
    height: 120px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-container {
    padding: 10px;
    background-color: #F0DD95;
    border-top: 2px solid #000000;
    text-align: justify;
    font-weight: bold;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: justify;
}

li {
    margin: 10px 0;
}

h3 {
    margin-top: 20px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
